
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto';
    margin: 0 ;
    padding: 0;
    color: white;
}



header{
    font-size: 24px;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border: 0;
    height: 50px;
    padding: 20px;
}

#hero{
    display: flex;
    background-color: #1f2937;
    padding: 5% 14%;
}

#main{
    padding-right: 30px;
    width: 450px;
}

p, ul{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

h1,button{
    font-weight: 900;
}

h1{
    font-size: 48px;
    color: #f9faf8;
}

button{
    border-radius: 5px;
    border: 0;
    background: #3882f6;
    color: white;
    padding: 8px 30px;  
}

img{
    padding-top: 20px;
    height: 300px;
    width: 500px;
}